$darkBlue: #2b3445;
$white: white;
$Pink: #d23f57;
$gray: gray;
$softGray: rgb(235, 235, 235);

// $aquamarine: aquamarine;
// $soft-per: rgb(69, 48, 122);
// $dark-per: rgb(21, 10, 48);
// $dark2-per: rgb(8, 4, 20);
// $gold: gold;
// // $border-color: gainsboro;
// $test: 1px solid red;

// $blue: #393a59;
